<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <section id="main-head">
    <nav class="green lighten-1">
      <div class="nav-wrapper valign-wrapper">
        <a href="/posts" class="brand-logo right">dummer</a>
        <ul id="nav-mobile" class="left">
          <% if (user) { %>
            <li><a href="/logout">logout</a></li>
            <li><a href="/posts">feed</a></li>
            <li><a href="/users">dummies</a></li>
            <% } else { %>
              <li><a class="valign-wrapper" href="/auth/google"><img
                    src="https://i.imgur.com/FHjYyi0.png">&nbsp;&nbsp;login</a></li>
              <% } %>

        </ul>
      </div>
    </nav>
    <br>
  </section>