body {
  font-family: 'Monomaniac One', sans-serif;
  font-size: 3vmin;
  background-color: #1c1c1a;
  padding: 20px;
}

#setoff-replies {
  padding-left: 10%;
}

#main-head {
  color: #29a348;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

a {
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

#post-text {
  background-color: white;
  height: 5vmin;
  width: 80%;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 1.75vmin;
}

.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-action a {
  font-size: 1.75vmin;
}

#avatar-reply img {
  border-radius: 50%;
  height: 20px;
}

#avatar img, nav img {
  border-radius: 50%;
  height: 40px;
}

.delete-post button {
  color: red;
}

#postId {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2vmin;
}

#postNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.75vmin;
}

#total-post {
  border-top: solid 1px #2274a5;
  border-bottom: solid 1px #1c1c1a;
}

button {
  border: none;
  background: none;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 1.75vmin;
}

#reply-link {
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #2274a5;
  font-size: 1.75vmin;
}

#reply-link a {
color: #2274a5
}

#post-nav-show {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#replies-populated {
  margin-left: 10%;
  margin-right: 20%;
  background-color: rgb(156, 156, 156);
  border-radius: 5%;
  font-size: 1.75vmin;
}

#reply-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#reply-post {
  display: flex;
  flex-direction: row;
  border-top: solid 1px #2274a5;
  border-bottom: solid 1px #1c1c1a;
  justify-content: space-between;
}
