body {
  color: #29a348;
  background-color: #1c1c1a;
  padding: 20px;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 3vmin;
}

a {
  font-size: 2vmin;
  color: #e6e8e6;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#post-text {
  background-color: #e6e8e6;
  height: 5vmin;
  width: 80%;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 1.75vmin;
}

main {
  display: grid;
  grid-template-rows: auto;
  gap: 1vmin;
  align-items: center;
  background-color: #e6e8e6;
  padding: 2vmin;
  border-radius: 5%;
}

article {
  border-top: solid 1px #2274a5;
  border-bottom: solid 1px #1c1c1a;
}

article img {
  border-radius: 50%;
  height: 40px
}

.delete-post button {
  color: red;
}